/* You can add global styles to this file, and also import other style files */
html, body {
  height    : 100vh;
  width     : 100vw;
  overflow  : hidden;
  margin    : 0;
}

.root-div {
  height    : 100vh;
  width     : 100vw;
  overflow  : hidden;
  z-index   : 100;
}

.bold-xxl {
  font-weight : bold;
  font-size   : 24px;
  font-family : "Metropolis Regular";
}

.bold-xl {
  font-weight : bold;
  font-size   : 20px;
  font-family : "Metropolis Regular";
}

.bold-lg {
  font-weight : bold;
  font-size   : 16px;
  font-family : "Metropolis Regular";
}

.normal-xxl {
  font-size   : 24px;
  font-family : "Metropolis Regular";
  font-weight : inherit;
}

.normal-xl {
  font-size   : 18px;
  font-family : "Metropolis Regular";
  font-weight : inherit;
}

.normal-lg {
  font-size   : 16px;
  font-family : "Metropolis Regular";
  font-weight : inherit;
}

.normal-md {
  font-size   : 14px;
  font-family : "Metropolis Regular";
  font-weight : inherit;
}

.bg-grey {
  background  : grey;
}

.text-color-white {
  color : white;
}

.text-color-light {
  color : #878787;
}

.bg-primary {
  background  :  #2754CC;
}

.border-light {
  border-style  : solid;
  border-width  : 1px;
  border-color  : #C4C4C4;
  border-radius : 30px;
}

button:hover {
  background  : #2754CC;
  color       : #f2f5f7;
}

.button-cont {
  display         : flex;
  justify-content : center;
  padding-bottom  : 4vw;
  width           : 100%;
}

.btn {
  background-color  : #FFFFFF;
  color             : #663399;
  padding           : 16px 30px;
  border-radius     : 24px;
  outline           : none;
  width             : 16%;
}
